# Global
.*.swp
.DS_Store

# Sublime
*.sublime*

# PHPStorm
.idea

_ide_helper.php
.phpstorm.meta.php

services/web/etc/ssl/
services/web/etc/nginx/default.conf
services/mysqldb/data
services/elasticsearch/esdata1
services/redis/data

data/db/
src/
