# Global
.*.swp
.DS_Store

# Application
web/src/vendor
web/src/node_modules
web/src/public/storage
web/src/.env
web/src/public/css
web/src/public/js
web/src/public/mix-manifest.json
web/src/public/build
*.sublime*

# PHPStorm
.idea/**/workspace.xml
.idea/**/tasks.xml
.idea/dictionaries

# Netbeans
nbproject/
/nbproject/
/nbproject/private/
/nbproject/private/private.properties

# SSL Certs
etc/web/ssl/

mysqldb/data

elasticsearch/esdata1

.idea
web/src/.idea
web/src/public/report
web/src/report
web/src/public/hot
web/src/node_modules
web/src/vendor
redis/data