# Global
.*.swp
.DS_Store

# Sublime
*.sublime*
_ide_helper.php

# PHPStorm
.idea
.phpstorm.meta.php

services/web/etc/ssl/
services/web/etc/nginx/default.conf
services/mysqldb/data
services/elasticsearch/esdata1
services/redis/data
services/composer/cache

data/db/
src/

.env
